#argh-container {
    padding: 20px;
    position: fixed;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);

    left: 0px;
    top: 0px;

    font-family: helvetica;
    font-size: 16px;

    background: #ffffffbd;
}

#argh-container div {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 15px;
    border-radius: 4px;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    vertical-align: middle;
}

button.main {
    background: chartreuse;
    border: 2px limegreen solid;
    padding: 5px;
    border-radius: .25rem;
    margin: 3px;
    font-size: 21px;
    margin-top: 20px;
}

button.main:hover {
    background: limegreen;
}

span.bold {
    font-weight: bold;
}

button.link {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    cursor: pointer;
}

button.link:hover {
    text-decoration: underline;
}

.big {
    font-size: 21px;
}

p.small, p.small * {
    font-size: 12px;
}
